
html{

background-image: "start-background.jpg";

}


body{


margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;



}

.center{

    text-align: center;
    transform: translateY(-80px); 
}

.btn{

  padding: 16px 32px;      /* makes them bigger */
  font-size: 1.2rem;       /* bigger text */
  background-color: pink;  /* pink background */
  color: black;
  border: 2px solid black; /* black outline */
  border-radius: 10px;     /* optional: rounded corners */
  cursor: pointer;

}

