body{


margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;



}

.center{

    text-align: center;
    transform: translateY(-80px); 
}

.btn{

    transform:scale(3) ;

}

