html{

    background-image: url("Untitled.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

body{


margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;



}

.center{

    text-align: center;
    transform: translateY(-80px); 
}

